*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(students_bus.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}

.form_box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: #f4a460;
    padding: 50px 60px 70px;
    text-align: center;
}
.form_box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:#0b0b0b;
    position: relative;
}

.input_field {
    color: #070707;
    background:#ffffff;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input_field i {
    margin-left: 15px;
    color: rgb(0, 0, 0);
}

form p {
    text-align: left;
    font-size: 15px;
}
/*form p a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}*/
button {
    background:#cd7f32;
    height: 40px;
    width: 50%;
    justify-content: space-between;
    flex-basis: 48%;
    color: rgb(8, 8, 8);
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-bottom: 25px;
}
.btn_field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*.btn_field button{
    flex-basis: 48%;
    background: #964b00;
    color: #0a0a0a;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}*/
.btn_field #signinbtn{
    flex-basis: 48%;
    background: #964b00;
    color: #0a0a0a;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 50px;
}
.btn_field #signupbtn{
    flex-basis: 48%;
    background: #964b00;
    color: #0a0a0a;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 50px;
}
.input_group {
    height: 280px;
    color: #000000;
}
.btn_field button.disable {
    background-color:#cd7f32;
    color:#964b00;
}